@page "/"

<h1>Uncompleted</h1>

@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var todo in Items)
        {
            <tr>
                <td>@todo.Title</td>
                <td>@todo.Description</td>
                <td>@todo.EndDate</td>
            </tr>
        }
        </tbody>
    </table>
}
